<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quotes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div class="container p-3 my-3 bg-primary text-white">
      <h1 align="center">Quotes</h1>
</div><br><br>
<div class="container">
      <h1>{{ text }}</h1>
</div><br><br>

<div class="container">
      <h2 class="text-right">By:- {{ author_text }}</h2>
      <p class="text-left">tags :<mark>{{ tag }}</mark></p>
</div><br><br>

<div class="container">
      <button type="button" class="btn btn-primary" onClick="window.location.reload();" style="float:center; position: fixed;">New Quote!</button>
</div>

<div class="fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="https://www.linkedin.com/in/bharathi-sakthivel/">Bharathi S </div>
</div>
</body>
</html>
